html{
    scroll-behavior: smooth;
}



h1{
font-family: "Arial Black", Gadget, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: underline solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
text-align: center;
}

ExBox{

   background-color: rgb(255, 255, 255);
}

subtxt{
    font-weight: 700;
    font-family: "Arial Black", Gadget, sans-serif;
}

